<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="fi-infra" value="https://pkgs.dev.azure.com/fimple/Fi/_packaging/fi-infra/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <fi-infra>
            <add key="Username" value="package-read-workintech" />
            <add key="ClearTextPassword" value="xot2y2ydo72vyentdhocvraaas3mrq4bj5ptyhcuuf3uvhxrdd3a" />
        </fi-infra>
    </packageSourceCredentials>
</configuration>